


  @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Roboto&display=swap");


*{

    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{

   
    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    
}

.childtwo{

    margin: 10px 20px;
    padding: 30px 20px;

}

a, span{

    /* border: 1px solid black; */
    margin: 10px 20px;
    padding: 30px 20px;
    text-decoration: none;
    font-weight: 600;
    color: black;

}

/* span{

    margin: 10px 20px;
    padding: 10px 20px;

} */







.second{

   
    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}


.boxone{

    margin: 10px 20px;
    padding: 40px;
    
}

h2{

    font-size: 30px;
}

.second button{

    margin: 10px;
    padding: 10px;
    background-color: rgb(231, 11, 103);
    font-weight: 600;
    border-radius: 20px;
}


.boxtwo{

    border: 1px solid black;
    margin: 10px 20px;
    padding: 40px;
    border-radius: 3000px;


}


.third{

   
    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
}


.fourth{

   
    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
   
}

h3{

    margin: 10px 20px;
    text-align: center;
   
    
}



.gearimg{

    /* border: 1px solid black; */
    /* margin: 10px 20px; */
    padding: 10px 20px;
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
   place-items: center;

   /* justify-content: center; */
    /* have question  */

}

.icons{

    display: flex;
    justify-content: start;
    /* margin: 5px;
    padding: 5px; */
    /* line-height: 5px; */
}


.bottom{

    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    color: red;


    
}

.seemore{

  background-color: red;
}



.footer{

    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
   
    display: flex;
    justify-content: space-around;
}


.footertwo{

    margin: 10px 20px;
    padding: 10px;
    line-height: 35px;

}

footer h3{

    font-size: 30px;
    margin: 10px;
    
}

footer button {

    padding: 10px;
    background-color:  rgb(231, 11, 103);
    width: 130px;
}



@media(max-width:1200px){


    .container{

        flex-direction: column;

    }

    .childtwo{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }


    .childtwo a{

        margin: 5px;
        padding: 5px;
        color: red;
    }


    .second{

        flex-direction: column;
        
    }

    .second .boxtwo{

        padding: 10px;
    }


    .third{

        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }


    .gearimg{

        grid-template-columns: 1fr 1fr;
    }

}


@media(max-width:600px){

    /* .container{

        flex-direction: column;
        
    } */

    .childtwo {

        flex-direction: row;
        /* color: aqua; */
    }
    .childtwo a{

        color: chocolate;
    }

    .second{

        flex-direction:column ;
    }

    .boxtwo img{

        margin: 10px;
        padding: 30px;
        /* width: 30px; */
    }
    .third{

        grid-template-columns: repeat(3, 1fr);
    }

    .gearimg{

        grid-template-columns: 1fr;
    }

    .footer{

        margin: 20px;
        padding: 10px;

        flex-direction: column;

    }

    .footertwo{

        
        line-height: 20px;
    }
    .footertwo p{

        margin: 10px 20px;
        padding: 10px 20px;
        line-height: 20px;
    }
}
